$background: url("../img/m-h-night.jpg");
$colors: #fff;
$buttoncolor: #E3AC00;
$backgroundcolor: #21232E;
$blockbackground: #3B3F50;
$aftercolor: #FF4E33;
$gradient: linear-gradient(to right, #E1A902, #942F50);
$bannercolor: #fff;