$background: url("../img/m-h-day.jpg");
$colors: #000000;
$buttoncolor: #699900;
$backgroundcolor: #fff;
$blockbackground: #21232E;
$aftercolor: #14A0C7;
$gradient: linear-gradient(to right, #699900, #14A0C7);
$bannercolor: black;